.footer-container
  //-  li
  //-           a(href='/', class=(title === 'Home' ? 'active' : '')) Home
  //-         li
  //-           a(href='projects', class=(title === 'Project Gallery' ? 'active' : '')) Gallery
  //-         li 
  //-           a(href='trim', class=(title === 'Trim' ? 'active' : '')) Windows & Trim
  //-         li 
  //-           a(href='plowing', class=(title === 'Snow Plowing' ? 'active' : '')) Snow Plowing
  //-         li
  //-           a(href='contact', class=(title === 'Contact' ? 'active' : '')) Contact Us
  .footer
    p   
      |  
      a(href='/') Home
      |  |  
      a(href='projects') Gallery
      |  |  
      a(href='trim') Windows & Trim
      |  |  
      a(href='plowing') Snow Plowing
      |  |  
      a(href='contact') Contact Us
    p All Rights Reserved © 2016 David Condit
    p Located in Acton, MA
    p: a(href='tel:1-978-399-4246') 1-978-399-4246
