.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    ul.nav.navbar-nav
      li
        a(href='#') Home
      li
        a(href='#') Projects
      li
        a(href='#') Contact
      li
        a(href='#') Gallery
    ul.nav.navbar-nav.navbar-right
      li
        a(href='tel:1-408-555-5555') 1-408-555-5555
      li 
        a(href='mailto:matt.condit@outlook.com') Email Me