.navbar.navbar-inverse.narbar-static-top
  .container-fluid
    ul.nav.navbar-nav
      li
        a(href='/') Home
      li
        a(href='projects') Gallery
      li
        a(href='contact') Contact Us
    ul.nav.navbar-nav.navbar-right
      li 
        a.nav-title(href='/') David Condit Construction
      li
        a(href='tel:1-978-399-4246') 1-978-399-4246
      li 
        a(href='mailto:davidcondit1@gmail.com') Email Us
