.navbar.navbar-inverse.navbar-fixed-top
  .container-fluid
    ul.nav.navbar-nav
      li
        a(href='/') Home
      li
        a(href='projects') Projects
      li
        a(href='contact') Contact
    ul.nav.navbar-nav.navbar-right
      li
        a(href='tel:1-408-555-5555') 1-408-555-5555
      li 
        a(href='mailto:davidcondit1@gmail.com') Email Me