extends layout 
block content
  .contact-number
    h2  Ideally, give us a call at 
      a(href='tel:1-978-399-4246') 1-978-399-4246
      |  .  Otherwise, fill out the form below and we will get in contact with you as soon as possible.
  .contact
    .contact-header
      h1  Contact
      h2  Feel free to send me an email from here, or directly from a personal account to conditconstruction@gmail.com
      p 
    .contact-form
      form(action='/sendEmail', method='post')
        fieldset(data-role='')
          label(for='') Your Name
          input(id='name', name='name', type='text', value='', placeholder='John Doe').form-control
          br
          label(for='email') Email Address:
          input(id='email', name='email', type='text', value='', placeholder='John.Doe@example.com').form-control
          br
          label(for='location') Location:
          input(id='location', name='location', type='text', value='', placeholder='Boston, MA').form-control
          br
          label(for='description') Your Email:
          textarea(id='description', name='description').form-control
          input(type='submit', , value='Send your Request').btn.btn-primary
    br
    br
    br
