extends layout
block content
    .row.splash 
      .splash-description.col-xs-6
        h3 30 years of Expertise
        hr
        p Click below to see some of our projects, or get a quote

        a(href='projects')
          button.btn See Projects
        a(href='contact')
          button.btn Get Quote
      .splash-slide.col-xs-6
          .slideshow-container
            .slideshow
              .my-slider 
                ul 
                  li
                    img(src='/images/construction.JPG', alt='Construction photo')
                  li
                    img(src='/images/logo.jpg', alt='logo')
                  li 
                    img(src='/images/house-under-construction.jpg', alt='house')
                  li 
                    img(src='/images/carpentry.jpg', alt='carpentry')
                  li 
                    img(src='/images/nails.jpg', alt='nails')
    .row.info-section 
      .col-xs-4.info 
        img(src='/images/gallery/IMG_0142.JPG')
        h3 Decking
        p
          | Take advantage of your backyard this summer with a new deck.  Specializing in the new maintenance free Azek Decking products, Condit Construction builds decks with a classic style and unbeatable longevity. If you prefer more traditional materials, we also offer pressure-treated, mahogany, cedar, and fir decks. 
          a(href='projects') See what we've built in the area.
      .col-xs-4.info
        img(src='/images/window.jpg')
        h3 Replace your windows, doors, and trim 
        p  Rotten wood in your home can cost you in New England.  Replace these windows, doors, and siding before the cold forces you to.  
      .col-xs-4.info
        img(src='/images/truck.jpg')
        h3 Snow Plowing 
        p  Ever wake up late for work and 
