extends layout

block content
  .trim-wrapper
    .trim-container
      .trim-content
        .trim-image
          img(src='/images/plowing.jpg' alt='Truck Plowing Snow')
        .trim-description
          h1 Snow Plowing
          p  A rough winter storm can put your day on hold, cause accidents, and even deter customers.  Whether it's your driveway at home or a business parking lot, David does winter snow plowing for a flat rate.  Enjoy the luxury of waking up to a clean driveway this winter.
      .trim-footer
        h3 
          |  
          a(href='contact') Contact Us
          |  to get this year's rate.