body {
  font: 14px "Raleway", sans-serif; }

a {
  color: inherit; }
  a:hover {
    color: inherit; }

p {
  font-family: "Oxygen", sans-serif; }

.clear {
  height: 0;
  clear: both; }

/* Stylings for navbar*/
.navbar {
  border-radius: 0;
  margin-bottom: 0; }

.navbar-header h1 {
  float: left;
  font-size: 16px;
  color: white !important;
  padding-left: 20px; }

.active {
  color: white;
  background-color: #333 !important; }

.nav * {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  color: #ddd !important; }

.show-nav {
  display: block; }

@media screen and (max-width: 700px) {
  .nav a {
    padding: 5px !important; } }

.nav-title {
  font-family: "Raleway", sans-serif; }

/* Stylings for second heading section (not nav bar)*/
.my-header {
  margin: 0; }

.title h1 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  font-size: 3em; }
  @media screen and (max-width: 700px) {
    .title h1 {
      font-size: 1.5em; } }

.sub-title {
  margin: 0;
  padding: 0; }

p {
  font-family: "Raleway", sans-serif; }

.splash {
  height: 500px;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 760px) {
    .splash {
      height: auto; } }

.splash-slide {
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 500px) {
    .splash-slide {
      display: none; } }

.my-slider img {
  height: 500px; }

.splash-description {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 50px;
  height: 100%;
  line-height: 2;
  background: linear-gradient(135deg, #f2825b 0%, #e55b2b 28%, #f07146 100%); }
  .splash-description h3 {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 2em; }
  .splash-description p {
    font-size: 1.5em; }

.btn {
  margin: 10px;
  font-size: 24px; }

.info-section {
  background-color: #d6d6d6;
  margin: 0; }

.info {
  padding: 40px;
  text-align: center; }
  .info img {
    display: block;
    border-radius: 5%;
    height: 200px;
    margin: 0 auto;
    max-width: 100%; }
  .info a {
    text-decoration: underline; }
  .info p {
    padding: 10px;
    text-align: justify;
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
    font-weight: 700; }

/*Unslider stylings*/
.unslider-nav li {
  border: 1px solid black;
  border-radius: 50%; }

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center; }

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s; }

.dots li.active {
  background: #fff;
  opacity: 1; }

.footer {
  margin-bottom: 0;
  border-radius: 0; }
  .footer p {
    margin: 10px; }

/*  Contact Page Styling */
.contact {
  padding-top: 20px;
  width: 100%;
  background-color: #F2784B;
  font-family: "Oxygen", sans-serif; }

.contact-header, .contact-form {
  width: 60%;
  margin: 0 auto; }
  @media screen and (max-width: 500px) {
    .contact-header h2, .contact-form h2 {
      font-size: 1.2em; } }

.contact-form {
  border-radius: 20px;
  background-color: white;
  padding: 20px; }
  @media screen and (max-width: 700px) {
    .contact-form .btn {
      font-size: 1em; } }

#description {
  height: 200px; }

.submit {
  background-color: #F2784B; }

/*  Projects and Gallery Stylings */
.project {
  text-align: center; }
  .project h1 {
    font-size: 3em; }

.project-slide-show {
  background: black;
  width: 100%; }

.gallery-slider {
  margin: 0 auto;
  background-position: center; }
  .gallery-slider li {
    margin: 0 auto;
    text-align: center; }
  .gallery-slider img {
    height: 500px; }
    @media screen and (max-width: 700px) {
      .gallery-slider img {
        height: 200px; } }

.gallery-body {
  background-color: black;
  overflow: hidden; }

.gallery-pic-wrapper {
  overflow: hidden;
  cursor: pointer; }
  .gallery-pic-wrapper img {
    height: 200px;
    display: inline-block;
    float: left; }

.clear-left {
  clear: left; }

.masonry {
  /* Masonry container */
  column-count: 4;
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-gap: 0;
  -webkit-column-gap: 0;
  -moz-column-gap: 0; }

.item {
  /* Masonry bricks or child elements */
  padding: 0;
  margin: 0; }
  .item img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important; }

/*# sourceMappingURL=style.css.map */
