body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: inherit; }
  a:hover {
    color: inherit; }

h1 {
  font-size: 50px; }

/* Stylings for navbar*/
.nav * {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  color: #F2784B; }

/* Stylings for second heading section (not nav bar)*/
.my-header {
  margin: 0; }

.title {
  font-family: "Raleway", sans-serif;
  text-align: center; }

.sub-title {
  margin: 0;
  padding: 0; }

.splash {
  height: 500px;
  padding: 0;
  margin: 0; }

.splash-slide {
  margin: 0;
  padding: 0; }

.my-slider img {
  height: 500px; }

.splash-description {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 50px;
  height: 100%;
  background: linear-gradient(135deg, #f2825b 0%, #e55b2b 28%, #f07146 100%); }
  .splash-description h3 {
    font-weight: 700;
    font-family: "Raleway", sans-serif; }

.btn {
  margin: 10px;
  font-size: 24px; }

.info {
  padding: 40px; }
  .info img {
    display: block;
    border: 2px solid #F2784B;
    border-radius: 50%;
    width: 50%;
    margin: 0 auto; }
  .info p {
    padding: 10px;
    text-align: justify;
    font-family: "Oxygen", sans-serif;
    font-size: 20px;
    font-weight: 700; }

/*Unslider stylings*/
.unslider-nav li {
  border: 1px solid black;
  border-radius: 50%; }

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center; }

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s; }

.dots li.active {
  background: #fff;
  opacity: 1; }

.footer {
  margin-bottom: 0;
  border-radius: 0; }
  .footer p {
    margin: 10px; }

/*  Contact Page Styling */
.contact {
  width: 100%;
  background-color: #F2784B;
  font-family: "Oxygen", sans-serif; }

.contact-header, .contact-form {
  width: 60%;
  margin: 0 auto; }

.contact-form {
  border-radius: 20px;
  background-color: white;
  padding: 20px; }

#description {
  height: 200px; }

.submit {
  background-color: #F2784B; }

/*  Projects and Gallery Stylings */
.project-slide-show {
  background: black;
  width: 100%; }

.gallery-slider {
  margin: 0 auto;
  background-position: center; }
  .gallery-slider li {
    margin: 0 auto;
    text-align: center; }
  .gallery-slider img {
    height: 500px; }

.gallery-body {
  background-color: black;
  overflow: hidden; }

.gallery-pic-wrapper {
  overflow: hidden;
  cursor: pointer; }
  .gallery-pic-wrapper img {
    height: 200px;
    display: inline-block;
    float: left; }

.clear-left {
  clear: left; }

.masonry {
  /* Masonry container */
  column-count: 4;
  column-gap: 0; }

.item {
  /* Masonry bricks or child elements */
  padding: 0;
  margin: 0; }
  .item img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important; }

/*# sourceMappingURL=style.css.map */
