$title-font:'Raleway', sans-serif;
$para-font:'Oxygen', sans-serif;

$highlight-color: #CF5300;

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

h1 {
    font-size: 50px;
}


@import './partials/nav';
@import './partials/header';
@import './partials/index';
@import './partials/footer';
