$title-font:'Raleway',
sans-serif;
$para-font:'Oxygen',
sans-serif;
$highlight-color: #F2784B;
body {
  font: 14px $title-font;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

p {
  font-family: $para-font;
}

.clear {
  height: 0;
  clear: both;
}

@import './partials/nav';
@import './partials/header';
@import './partials/index';
@import './partials/footer';
@import './partials/contact';
@import './partials/projects';