/* Stylings for second heading section (not nav bar)*/

.my-header {
  margin: 0;
}

.title h1 {
  font-family: $title-font;
  text-align: center;
  font-size: 3em;
  @media screen and (max-width: 700px) {
    font-size: 1.5em;
  }
}

.sub-title {
  margin: 0;
  padding: 0;
}