/*  Projects and Gallery Stylings */

.project {
  text-align: center;
  h1 {
    font-size: 3em;
  }
}

.project-slide-show {
  background: black;
  width: 100%;
}

.gallery-slider {
  margin: 0 auto;
  background-position: center;
  li {
    margin: 0 auto;
    text-align: center;
  }
  img {
    height: 500px;
  }
}

.gallery-body {
  background-color: black;
  overflow: hidden;
}

.gallery-pic-wrapper {
  overflow: hidden;
  cursor: pointer;
  img {
    height: 200px;
    display: inline-block;
    float: left;
  }
}

.clear-left {
  clear: left;
}

.masonry {
  /* Masonry container */
  column-count: 4;
  column-gap: 0;
}

.item {
  /* Masonry bricks or child elements */
  padding: 0;
  margin: 0;
  img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }
}